<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA</title>

    <!-- Loading Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <!-- this makes the bootstrap.css visible to WebStorm so that it can provide suggestions for code completion -->
    <link rel="stylesheet" type="text/css" href="../../bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>

    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
    <script type="text/javascript" src="javascript/navbar.controller.js"></script>
    <script type="text/javascript" src="javascript/gpa.controller.js"></script>
</head>
<body ng-app="mainApp">
<div ng-include="'views/navbar.html'"></div>

<div class="container" ng-controller="gpaCtrl as gpa">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="gpa.addCourse()">
                <input ng-model="gpa.courseName" type="text" size="25" placeholder="Course Name">
                <input ng-model="gpa.creditValue" type="number" size="25" placeholder="Credits">

                <select ng-model="gpa.gradeLetter" >
                    <option selected>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>F</option>
                </select>

                <input type="submit" value="add course" class="btn btn-primary">
                <span class="floatRight">Items in this list: {{gpa.itemsInList()}}</span>
            </form>

        </li>

        <li class="list-group-item" ng-repeat="class in gpa.classes">
            <span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="gpa.removeData($index)"></span>
            {{class.course}} | {{class.credits}} | {{class.grade}}
        </li>
    </ul>
    <input class="btn btn-primary" value="Calculate GPA" ng-click="gpa.getGPA()">

</div>

</body>
</html>